.project__filters {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .75rem;
    margin-bottom: var(--mb-2);
}
.project__item {
    cursor: pointer;
    color: var(--title-color);
    padding: 0.25rem 0.75rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
    text-transform: capitalize;
}

.project__item:hover {
    background-color: var(--title-color);
    color: var(--container-color);
}
.project__container {
    grid-template-columns: repeat(3, max-content);
    gap: 3rem;
    justify-content: center;
}

.project__card {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    border-radius: 1rem;
}
.project__img {
    width: 295px;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
}

.project__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.project__button {
    color: var(--text-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
}

.project__button-icon {
    font-size: 1rem;
    transition: .4s;
}

.project__button:hover .project__button-icon {
    transform: translateX(.25rem);
}

/*active project*/
.active-project {
    background-color: var(--title-color);
    color: var(--container-color);
}